/*===RESETS===*/
body, h1, h2, p, ul, li, a  {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto Mono', monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* IMG RESPONSIVA */
img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/*===MEDIA QUERIES===*/
@media (min-width: 400px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 22px;
  }
}

/*===MENU===*/
.menu-bg {
  background-color: #2568EF;
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  top: 0;
}

.menu ul {
  display: flex;
}

.menu a {
  color: white;
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  margin-right: 30px;

}

.btn-menu  a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF564F;
  width: 170px;
  height: 48px;
  border-radius: 5px;
  transition: 250ms ease;
}

.btn-menu a:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  width: 170px;
  height: 48px;
  border: 2px solid #FF564F;
  color: #FF564F;
  background: whitesmoke;
  font-weight: bold;
  border-radius: 5px;
}

.menu-logo img {
  width: 90px;
}
/*===INTRO===*/
.intro-bg {
  background-color: #2568EF;
}

.intro {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0px;
  justify-content: space-between;
}

.intro-info {
  margin-top: 50px;
}

.intro-info span {
  font-size: 15px;
  color: whitesmoke;
}

.intro-info  h1{
  color: whitesmoke;
  font-size: 72px;
}

.intro-info h2 {
  font-size: 16px;
  text-transform: uppercase;
}

.intro-img {
  width: 100%;
}
/*===PORTFOLIO===*/
.portfolio-bg {
  background-color: #FFF5E8;
}

.contato,
.portfolio {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em;
}

.portfolio h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #FF564F;
}

.portfolio .grid {
  display: grid;
  gap: 1em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    gap: 1em;
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;

  }
}

.portfolio figure {
  text-align: center;
}

.grid figcaption {
  color: #324A58;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: cover;
  object-position: left bottom;
  border-radius: 5px;
  box-shadow: -1px -1px 42px -9px rgba(0,0,0,0.75);
  transition: transform 250ms;
}

.img-portfolio:hover {
  transform: scale(1.050);
}

/*===FOOTER===*/
.footer-bg {
  background-color: #324A58;
}

.contato h2 {
  text-align: center;
  color: white;
  font-size: 35px;
}

.contato .icons {
  text-align: center;
}

.contato a {
  color: white;
  font-size: 20px;
}

.contato a {
  text-decoration: none;
} 


/*===STAR WARS ANIMAÇÃO===*/
/* Propriedades de animação */
.star {
  animation: star 10s ease-out forwards;
}
.wars {
  animation: wars 10s ease-out forwards;
}
.byline span {
  animation: spin-letters 10s linear forwards;
}
.byline {
  animation: move-byline 10s linear infinite;
}

/* Keyframes */
@keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em);
  }
  20% {
    opacity: 1;
  }
  89% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes wars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0.5em);
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes spin-letters {
  0%, 10% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  30% {
    opacity: 1;
  }
  70%, 86% {
    transform: rotateY(0);
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}

@keyframes move-byline {
  0% {
    transform: translateZ(5em);
  }
  100% {
    transform: translateZ(0);
  }
}

/* faça o trabalho 3D no contêiner */
.starwars-demo {
  perspective: 800px;
  transform-style: preserve3d;
}

/* Estilos e layout gerais */
body {
  background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
}

.starwars-demo {
  height: 17em;
  left: 50%;
  position: absolute;
  top: 53%;
  transform: translate(-50%, -50%);
  width: 34em;
}

.byline span {
  display: inline-block;
}

img {
  width: 100%;
}

.star, .wars, .byline {
  position: absolute;
}

.star {
  top: -0.75em;
}

.wars {
  bottom: -0.5em;
}

.byline {
  color: #fff;
  font-family: "ITC Serif Gothic", Lato;
  font-size: 1.9em;
  left: -2em;
  letter-spacing: 0.4em;
  right: -2em;
  text-align: center;
  text-transform: uppercase;
  top: 40%;
}

/*** Consultas de mídia para ajustar a diferentes tamanhos de tela ***/

@media only screen and (max-width: 600px) {
  .starwars-demo {
    font-size: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .starwars-demo {
    font-size: 7px;
  }
}
/*===ANIMAÇÃO LETRAS ENTRANDO===*/
.titulo-01 {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #feda4a;
  font-size: 250%;
  text-align: center;
}

.titulo-01 {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: 10s ease 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  from {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}